USE [master]
GO
/****** Object:  Database [InventoryManagement]    Script Date: 10/4/2025 1:12:51 PM ******/
CREATE DATABASE [InventoryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InventoryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InventoryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryManagement]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[ProductStatuseID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[SellingPrice] [decimal](10, 2) NULL,
	[CostPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK__Products__B40CC6ED50D7E933] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductStatuses]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductStatuses](
	[ProductStatuseID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductStatuses] PRIMARY KEY CLUSTERED 
(
	[ProductStatuseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK__Companie__2D971C4CEB5417EF] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK__Categori__19093A2BFA4E0DF0] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductDetails]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductDetails]
AS
SELECT Products.ProductID, Categories.CategoryName, Companies.CompanyName, ProductImages.ImagePath, ProductStatuses.StatusName, Products.ProductName, Products.Description, Products.CostPrice, Products.Barcode, 
                  Products.Quantity
FROM     Products INNER JOIN
                  ProductImages ON Products.ProductImageID = ProductImages.ProductImageID INNER JOIN
                  ProductStatuses ON Products.ProductStatuseID = ProductStatuses.ProductStatuseID INNER JOIN
                  Categories ON Products.CategoryID = Categories.CategoryID INNER JOIN
                  Companies ON Products.CompanyID = Companies.CompanyID
GO
/****** Object:  Table [dbo].[UserStatuses]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatuses](
	[UserStatuseID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](2500) NULL,
 CONSTRAINT [PK_UserStatuses] PRIMARY KEY CLUSTERED 
(
	[UserStatuseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK__Roles__8AFACE3A3215A93F] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UserStatusID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC6C06E061] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[UserProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Bio] [nvarchar](500) NULL,
	[ProfileImage] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK__UserProf__9E267F4232D35EE9] PRIMARY KEY CLUSTERED 
(
	[UserProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_UserDetails]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[VW_UserDetails] AS
SELECT Users.UserID, UserStatuses.StatusName, Roles.RoleName, Users.UserName, Users.Email, Users.Password, Users.FirstName, Users.LastName,  DATEDIFF(YEAR , Users.BirthDate , GETDATE()) as Age
FROM     Roles INNER JOIN
                  Users ON Roles.RoleID = Users.RoleID INNER JOIN
                  UserProfiles ON Users.UserID = UserProfiles.UserID INNER JOIN
                  UserStatuses ON Users.UserStatusID = UserStatuses.UserStatuseID
GO
/****** Object:  Table [dbo].[Earnings]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Earnings](
	[EarningID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[TotalCost] [decimal](18, 0) NOT NULL,
	[TotalRevenue] [decimal](12, 2) NOT NULL,
	[Profit] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK__Earnings__2418A1C2763E8DF6] PRIMARY KEY CLUSTERED 
(
	[EarningID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceStatusID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[DateOfBuy] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__InvoiceD__D796AAD5C3E6EA57] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Purchase__4E3CABF31D11F947] PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceStatus]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceStatus](
	[InvoiceStatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_InvoiceStatuses] PRIMARY KEY CLUSTERED 
(
	[InvoiceStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseInvoiceDetails]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoiceDetails](
	[PurchaseDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseInvoiceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtPurchase] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PurchaseInvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[PurchaseDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseInvoices]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoices](
	[PurchaseInvoicesID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DateOfPurchase] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PurchaseInvoices] PRIMARY KEY CLUSTERED 
(
	[PurchaseInvoicesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 10/4/2025 1:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK__Supplier__4BE6669449A3BBF8] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Fruits & Vegetables', N'Fresh fruits and vegetables, locally sourced and organic optionsxxxxx')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Dairy Products', N'Milk, cheese, yogurt, and other dairy items.')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Bakery', N'Bread, pastries, cakes, and other baked goods.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyID], [CompanyName], [Phone], [Address], [Description]) VALUES (1, N'Siniora Food Industries', N'+962 6 582 5719', N'Amman, Jordan', N'Leading producer of processed meats and cold cuts in the region.')
INSERT [dbo].[Companies] ([CompanyID], [CompanyName], [Phone], [Address], [Description]) VALUES (2, N'Al-Wadi Al-Akhdar', N'+962 6 489 1254', N'Zarqa, Jordan', N'Manufacturer of traditional Middle Eastern food products.')
INSERT [dbo].[Companies] ([CompanyID], [CompanyName], [Phone], [Address], [Description]) VALUES (3, N'Al Bayader International', N'+962 6 489 1254', N'Amman, Jordan', N'Producer of fresh produce and packaged food items.')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([InvoiceID], [InvoiceNumber], [InvoiceStatusID], [UserID], [TotalAmount], [DateOfBuy]) VALUES (1, N'INV-1001', 1, 1, CAST(25.00 AS Decimal(12, 2)), CAST(N'2025-09-30T21:24:29.1366667' AS DateTime2))
INSERT [dbo].[Invoice] ([InvoiceID], [InvoiceNumber], [InvoiceStatusID], [UserID], [TotalAmount], [DateOfBuy]) VALUES (2, N'INV-1002', 1, 1, CAST(10.80 AS Decimal(12, 2)), CAST(N'2025-09-30T21:48:27.9400000' AS DateTime2))
INSERT [dbo].[Invoice] ([InvoiceID], [InvoiceNumber], [InvoiceStatusID], [UserID], [TotalAmount], [DateOfBuy]) VALUES (3, N'INV-1003', 1, 1, CAST(19.20 AS Decimal(12, 2)), CAST(N'2025-09-30T21:48:32.3066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([InvoiceDetailID], [InvoiceID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 1, 3, CAST(1.20 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailID], [InvoiceID], [ProductID], [Quantity], [Price]) VALUES (2, 1, 2, 2, CAST(1.30 AS Decimal(10, 2)))
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailID], [InvoiceID], [ProductID], [Quantity], [Price]) VALUES (3, 1, 3, 5, CAST(0.80 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceStatus] ON 

INSERT [dbo].[InvoiceStatus] ([InvoiceStatusID], [StatusName], [Description]) VALUES (1, N'Pending', N'The invoice is created but not yet finalized or paid.')
INSERT [dbo].[InvoiceStatus] ([InvoiceStatusID], [StatusName], [Description]) VALUES (2, N'Paid', N'The invoice has been fully paid by the customer.')
INSERT [dbo].[InvoiceStatus] ([InvoiceStatusID], [StatusName], [Description]) VALUES (3, N'Partially Paid', N'The invoice has been partially paid; remaining amount is due.')
SET IDENTITY_INSERT [dbo].[InvoiceStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [CategoryID], [CompanyID], [ProductStatuseID], [ProductName], [Description], [SellingPrice], [CostPrice], [Quantity], [Barcode], [ImagePath]) VALUES (1, 1, 1, 1, N'Red Apple', N'zzzzzzzzz', CAST(5.88 AS Decimal(10, 2)), CAST(2.46 AS Decimal(10, 2)), 43, N'1111111111111', NULL)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [CompanyID], [ProductStatuseID], [ProductName], [Description], [SellingPrice], [CostPrice], [Quantity], [Barcode], [ImagePath]) VALUES (2, 1, 1, 1, N'Green Apple', N'Crisp and juicy green apples.', CAST(3.55 AS Decimal(10, 2)), CAST(1.30 AS Decimal(10, 2)), 71, N'1111111111112', NULL)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [CompanyID], [ProductStatuseID], [ProductName], [Description], [SellingPrice], [CostPrice], [Quantity], [Barcode], [ImagePath]) VALUES (3, 1, 2, 1, N'Banana', N'Ripe yellow bananas, ideal for snacking.', CAST(1.00 AS Decimal(10, 2)), CAST(0.80 AS Decimal(10, 2)), 138, N'1111111111113', N'C:\Users\omarm\Downloads\features.png')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductStatuses] ON 

INSERT [dbo].[ProductStatuses] ([ProductStatuseID], [StatusName], [Description]) VALUES (1, N'In Stock', N'The product is currently available in the warehouse or store.')
INSERT [dbo].[ProductStatuses] ([ProductStatuseID], [StatusName], [Description]) VALUES (2, N'Out of Stock', N'The product is temporarily unavailable for sale.')
INSERT [dbo].[ProductStatuses] ([ProductStatuseID], [StatusName], [Description]) VALUES (3, N'Discontinued', N'The product is permanently removed from the product line.')
SET IDENTITY_INSERT [dbo].[ProductStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseInvoiceDetails] ON 

INSERT [dbo].[PurchaseInvoiceDetails] ([PurchaseDetailID], [PurchaseInvoiceID], [ProductID], [Quantity], [PriceAtPurchase]) VALUES (157, 4, 31, 30, CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[PurchaseInvoiceDetails] ([PurchaseDetailID], [PurchaseInvoiceID], [ProductID], [Quantity], [PriceAtPurchase]) VALUES (158, 4, 32, 25, CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[PurchaseInvoiceDetails] ([PurchaseDetailID], [PurchaseInvoiceID], [ProductID], [Quantity], [PriceAtPurchase]) VALUES (159, 4, 33, 20, CAST(2 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[PurchaseInvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseInvoices] ON 

INSERT [dbo].[PurchaseInvoices] ([PurchaseInvoicesID], [SupplierID], [UserID], [DateOfPurchase], [TotalAmount]) VALUES (4, 4, 4, CAST(N'2025-08-04T12:00:00.0000000' AS DateTime2), CAST(390 AS Decimal(18, 0)))
INSERT [dbo].[PurchaseInvoices] ([PurchaseInvoicesID], [SupplierID], [UserID], [DateOfPurchase], [TotalAmount]) VALUES (5, 5, 5, CAST(N'2025-08-05T09:45:00.0000000' AS DateTime2), CAST(450 AS Decimal(18, 0)))
INSERT [dbo].[PurchaseInvoices] ([PurchaseInvoicesID], [SupplierID], [UserID], [DateOfPurchase], [TotalAmount]) VALUES (6, 1, 1, CAST(N'2025-08-06T10:10:00.0000000' AS DateTime2), CAST(420 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[PurchaseInvoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Responsible for overall system management, user management, and configuration settings.')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'Cashier', N'Handles customer transactions, processes payments, and issues receipts.')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Phone], [Email], [Address]) VALUES (1, N'Siniora Food Industries', N'+962 6 582 5719', N'info@siniorafood.com', N'Amman, Jordan')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Phone], [Email], [Address]) VALUES (2, N'Al-Wadi Al-Akhdar', N'+962 6 489 1254', N'info@alwadi.com', N'Zarqa, Jordan')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Phone], [Email], [Address]) VALUES (3, N'Al Bayader International', N'+962 6 489 1254', N'info@albayader.com', N'Amman, Jordan')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProfiles] ON 

INSERT [dbo].[UserProfiles] ([UserProfileID], [UserID], [Bio], [ProfileImage], [Phone], [Address], [City], [Country]) VALUES (1, 1, N'System administrator with full access to manage the store operations.', N'profile_admin01.jpg', N'+962799111111', N'Shmeisani Street 12', N'Amman', N'Jordan')
INSERT [dbo].[UserProfiles] ([UserProfileID], [UserID], [Bio], [ProfileImage], [Phone], [Address], [City], [Country]) VALUES (2, 2, N'Cashier experienced in handling POS transactions and customer service.', N'profile_cashier01.jpg', N'+962799222222', N'Al Hashmi Street 5', N'Amman', N'Jordan')
INSERT [dbo].[UserProfiles] ([UserProfileID], [UserID], [Bio], [ProfileImage], [Phone], [Address], [City], [Country]) VALUES (3, 3, N'Cashier skilled in billing and managing daily cash flow.', N'profile_cashier02.jpg', N'+962799333333', N'Al Madina Street 8', N'Amman', N'Jordan')
SET IDENTITY_INSERT [dbo].[UserProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [UserStatusID], [UserName], [Email], [Password], [FirstName], [LastName], [BirthDate]) VALUES (1, 1, 1, N'admin', N'admin01@example.com', N'lgqxY60pJMV9nxj8OpSGeRbMfQwfQHES3ztVE1ruDUBNx2BqX0JscTJ9ScT5Fl/m', N'Amir', N'Rafi', CAST(N'2000-09-09' AS Date))
INSERT [dbo].[Users] ([UserID], [RoleID], [UserStatusID], [UserName], [Email], [Password], [FirstName], [LastName], [BirthDate]) VALUES (2, 2, 1, N'cashier01', N'cashier01@example.com', N'rWpOAV/pAI56AVs8A1hecCddmERudUwiQms0w1qVDUGDUrzEM7f0j7R87kKn7XXE', N'Sarah', N'Smith', CAST(N'2002-09-12' AS Date))
INSERT [dbo].[Users] ([UserID], [RoleID], [UserStatusID], [UserName], [Email], [Password], [FirstName], [LastName], [BirthDate]) VALUES (3, 1, 2, N'Admin1', N'cashier02@example.com', N'xUbsjab24ki5lwerFdkY0yYX1DUbZSuuvhSEixliSDc7JlkOT1te3fNCSxvv7kpz', N'Ahmed', N'Ali', CAST(N'2025-09-12' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserStatuses] ON 

INSERT [dbo].[UserStatuses] ([UserStatuseID], [StatusName], [Description]) VALUES (1, N'Active', N'The user account is active and the user can log in and perform all allowed operations.')
INSERT [dbo].[UserStatuses] ([UserStatuseID], [StatusName], [Description]) VALUES (2, N'Inactive', N'The user account is temporarily disabled and cannot access the system.')
INSERT [dbo].[UserStatuses] ([UserStatuseID], [StatusName], [Description]) VALUES (3, N'Suspended', N'The user account is suspended due to violations of policies or security issues.')
SET IDENTITY_INSERT [dbo].[UserStatuses] OFF
GO
/****** Object:  Index [IX_Products_CategoryID]    Script Date: 10/4/2025 1:12:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 10/4/2025 1:12:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK__InvoiceDe__UserI__60A75C0F] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK__InvoiceDe__UserI__60A75C0F]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_InvoiceStatuses] FOREIGN KEY([InvoiceStatusID])
REFERENCES [dbo].[InvoiceStatus] ([InvoiceStatusID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_InvoiceStatuses]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoice]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Companies] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Companies]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductStatuses] FOREIGN KEY([ProductStatuseID])
REFERENCES [dbo].[ProductStatuses] ([ProductStatuseID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductStatuses]
GO
ALTER TABLE [dbo].[PurchaseInvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoiceDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseInvoiceDetails] CHECK CONSTRAINT [FK_PurchaseInvoiceDetails_Products]
GO
ALTER TABLE [dbo].[PurchaseInvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoiceDetails_PurchaseInvoices] FOREIGN KEY([PurchaseInvoiceID])
REFERENCES [dbo].[PurchaseInvoices] ([PurchaseInvoicesID])
GO
ALTER TABLE [dbo].[PurchaseInvoiceDetails] CHECK CONSTRAINT [FK_PurchaseInvoiceDetails_PurchaseInvoices]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoices_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [FK_PurchaseInvoices_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseInvoices_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PurchaseInvoices] CHECK CONSTRAINT [FK_PurchaseInvoices_Users]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK__UserProfi__UserI__4E88ABD4] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK__UserProfi__UserI__4E88ABD4]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleID__4BAC3F29] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleID__4BAC3F29]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserStatuses] FOREIGN KEY([UserStatusID])
REFERENCES [dbo].[UserStatuses] ([UserStatuseID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserStatuses]
GO
USE [master]
GO
